html{
    scroll-behavior: smooth;
}

body{
        height: 100%;
        width: 100%;
        margin: 0;
        border: 0;
        padding: 0;
        background-image: url("../img/background/background.jpg");
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }


.présentation{
    display: flex;

justify-content: left ;
}

.description{
    display: flex;

justify-content: center ;
}

.navbar-brand{

font-size: xx-large;
font-weight: 500;
color: rgb(42, 126, 221);




}

.navbar-brand:hover {
    color: rgb(255, 255, 255);
  }




.card{


    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.size-img{

    width: 500px;
    height: 1000px;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: #fff;
}


.footer-img {
    height: 25px !important;
    width: 25px !important;
}

.footer-didi {
    height: 25px !important;
    width: 25px !important;
}

.nav-color{
    
    background-color: rgba(79, 149, 241, 0.705) !important;
}

.form-contact {
    text-align: center;
}

.form-style {
    margin-right: 0;
    margin: 10px auto;
    width: 1400px;
    padding: 20px 12px 10px 20px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style td {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-style .required {
    color: red;
}

.form-style input[type=submit],
.form-style input[type=reset] {
    background: rgb(221, 86, 86);
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-style input[type=submit]:hover,
.form-style input[type=reset]:hover {
    background: rgb(197, 91, 91);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-style .field-textarea {
    height: 100px;
}

.form-style input[type=text],
.form-style input[type=email],
textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style .long {
    width: 100%;
}

.form-style input[type=text]:focus,
.form-style input[type=email]:focus,
.form-style textarea:focus {
    -moz-box-shadow: 0 0 8px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 8px #000;
    box-shadow: 0 0 8px #000;
    border: 1px solid #000;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.nav-space{

    display: flex;
    margin-left:  75px;  
    font-family: sans-serif ;  
    font-size: 30px;
    font-weight: bold ;
}

.navbar-brand{

   margin-left: 10px !important;
}

.navbar-logo {

    width: 50px;
    height: 50px;
}

.border-margin-contact{
    background-color: #000;
    width: 2000px;
    position: relative;
    padding: 20px;
    padding-top: 5px;
    box-sizing: border-box;
    display: block;
    border-radius: 2.5px;

}

.color-txt{
    color: white;
}

.card-title{

   text-align: center;
}

.card-text{
    padding-top: 20px;

   font-size: large;

   font-family: cursive;
}

.card-title{

font-weight: bold;
 font-family: cursive;
}

.textemilieu{
text-align: center;
font-family: cursive;
    font-weight: bold; 
    font-size: xx-large;
    color: rgb(14, 3, 3);
}

.flèchedroite{
padding-top: 100px;
    height: 25%;
    width:25%;

margin-left: 25px;
}

.flèchegauche{
    padding-top: 100px;
    height: 25%;
    width:25%;

}

.textemilieuark{

font-size: xx-large;
font-family: cursive;
text-align: center;
font-weight: bold; 
}

.textprésentationark{

    font-size: xx-large;
    font-family: cursive;
    text-align: center;
    font-weight: bold; 
}

.size-card{
    
    height: 100%;
    width: 1;
}

.size-card img{
    
   /* height: 200px;
    width: 400pX;*/
}

.card-body1{
margin-left: 10px;
   padding-top: 10px;
}

.card-body2{
   
    margin-left: 10px;
    
    }

   